/* Media Queries */
$AwakningBreakpointDesktop: 950px;
$AwakningBreakpointMobileMinWidth: 300px;

/* Colors */
$AwakningColorBlack: #1F2021;
$AwakningColorBlackHover: #3d3f41;
$AwakningColorBlackNeglected: #616161;
$AwakningColorBrightRed: #CC2B2B;
$AwakningColorDarkRed: #A92424;
$AwakningColorGreen: #359e30;
$AwakningColorVeryLightGray: #F6F6F6;
$AwakningColorWhite: #FFFFFF;

/* Fonts */
$AwakningFontMontserrat: "Montserrat", sans-serif;
$AwakningFontArapey: "Arapey", serif;
$AwakningFontOldStandardTT: "Old Standard TT", serif;

/* Shadow */
$AwakningBoxShadow: 0 10px 20px #00000017;

/* Site Nav */
$siteNavItemPaddingX: 15px;