/* Media Queries */
$AwakningBreakpointDesktop: 950px;
$AwakningBreakpointMobileMinWidth: 300px;

/* Colors */
$AwakningColorBlack: #1f2021;
$AwakningColorBlackHover: #3d3f41;
$AwakningColorBlackNeglected: #616161;
$AwakningColorBrightRed: #cc2b2b;
$AwakningColorDarkRed: #a92424;
$AwakningColorError: red;
$AwakningColorGreen: #358734;
$AwakningColorVeryLightGray: #f6f6f6;
$AwakningColorWhite: #ffffff;

/* Fonts */
$AwakningFontMontserrat: "Montserrat", sans-serif;
$AwakningFontArapey: "Arapey", serif;
$AwakningFontOldStandardTT: "Old Standard TT", serif;

/* Shadow */
$AwakningBoxShadow: 0 10px 20px #00000017;

/* Site Nav */
$siteNavLinkPaddingX: 15px; // required to calculate the width of the site nav dropdown header underline when the site nav dropdown is open
