@use '@/assets/styles/_constants.scss' as *;

:export {
  AwakningBreakpointMobileLandscape: $AwakningBreakpointMobileLandscape;
  AwakningBreakpointDesktop: $AwakningBreakpointDesktop;
  AwakningBreakpointDesktopLarge: $AwakningBreakpointDesktopLarge;
  AwakningColorWhite: $AwakningColorWhite;
}
