/* Media Queries */
$BreakpointMobileMinWidth: 300px;
$BreakpointMobileLandscape: 481px;
$BreakpointDesktop: 769px;
$BreakpointDesktopLarge: 1280px;

/* Colors */
$AwakningColorBackground: #ffffff;
$AwakningColorBackgroundMuted: #f6f6f6;
$AwakningColorBackgroundSuccess: #ebfef0;
$AwakningColorBackgroundError: #feebeb;
$AwakningColorPrimary: #1f2021;
$AwakningColorSecondary: #ffffff;
$AwakningColorPromotions: #cc2b2b;
$AwakningColorSuccess: #358734;
$AwakningColorError: red;

/* Fonts */
$AwakningFontMontserrat: 'Montserrat', sans-serif;
$AwakningFontArapey: 'Arapey', serif;
$AwakningFontOldStandardTT: 'Old Standard TT', serif;

/* Shadow */
$AwakningBoxShadow: 0 10px 20px #00000017;

/* Site Nav */
$siteNavLinkPaddingX: 15px; // required to calculate the width of the site nav dropdown header underline when the site nav dropdown is open
