@use '@/assets/styles/_constants.scss' as *;

:export {
  breakpointMobileLandscape: $breakpointMobileLandscape;
  breakpointDesktop: $breakpointDesktop;
  breakpointDesktopLarge: $breakpointDesktopLarge;
}
