@use '@/assets/styles/_constants.scss' as *;

:export {
  BreakpointMobileLandscape: $BreakpointMobileLandscape;
  BreakpointDesktop: $BreakpointDesktop;
  BreakpointDesktopLarge: $BreakpointDesktopLarge;
}
