@use './reset';
@use './constants' as *;

body {
  color: $AwakningColorPrimary;
  background-color: $AwakningColorBackground;
  font-family: $AwakningFontArapey;
  font-size: 16px;
  line-height: 1.563;
}

h2 {
  font-family: $AwakningFontOldStandardTT;
}

h3 {
  font-family: $AwakningFontMontserrat;
}

svg {
  display: block;
}

hr {
  width: 50px;
  height: 1px;
  background-color: $AwakningColorPrimary;
  margin: 20px auto;
}

input,
textarea,
select {
  font-style: italic;
  font-size: 1.125rem;
}

blockquote {
  font-style: italic;
  line-height: 1.385;
  text-align: center;
}

del {
  text-decoration: line-through;
}

a:hover {
  opacity: 0.75;
}

.link-text {
  text-decoration: underline;
}

.btn {
  padding: 12px 20px;
  font-family: $AwakningFontMontserrat;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.btn--primary {
  background-color: $AwakningColorPrimary;
  color: $AwakningColorSecondary;
}

.btn--secondary {
  background-color: $AwakningColorSecondary;
  color: $AwakningColorPrimary;
}

/* Utility Classes */
.wrapper {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

// Hide an element without affecting its accessibility or search engine parser consideration
.sr-only {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -10px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  left: 0;
}
